{% block bbc_editor_widget %}
    {% if enable %}

        <div id="Kunena">
            <table id="kpostmessage" class="kpostbuttonset">
            <tbody>
            <tr>
                <td class="kpostbuttons">
                    <ul id="kbbcode-toolbar"><li><a href="#" title="Bold" alt="Bold text: [b]text[/b]" id="kbbcode-bold-button"><span>bold</span></a></li><li><a href="#" title="Italic" alt="Italic text: [i]text[/i]" id="kbbcode-italic-button"><span>italic</span></a></li><li><a href="#" title="Underline" alt="Underline text: [u]text[/u]" id="kbbcode-underline-button"><span>underline</span></a></li><li><a href="#" title="Strikethrough" alt="Strikethrough Text: [strike]Text[/strike]" id="kbbcode-strike-button"><span>strike</span></a></li><li><a href="#" title="Subscript" alt="Subscript Text: [sub]Text[/sub]" id="kbbcode-sub-button"><span>sub</span></a></li><li><a href="#" title="Superscript" alt="Superscript Text: [sup]Text[/sup]" id="kbbcode-sup-button"><span>sup</span></a></li><li><a href="#" title="Font size" alt="Fontsize: Select Fontsize and Apply to current selection" id="kbbcode-size-button"><span>size</span></a></li><li><a href="#" title="Color" alt="Color: [color=#FF6600]text[/color]" id="kbbcode-color-button"><span>color</span></a></li><li><a href="#" class="kbbcode-separator"><span>#</span></a></li><li><a href="#" title="Unordered List" alt="Unordered List: [ul] [li]text[/li] [/ul] - Tip: a list must contain List Items" id="kbbcode-ulist-button"><span>ulist</span></a></li><li><a href="#" title="Ordered List" alt="Ordered List: [ol] [li]text[/li] [/ol] - Tip: a list must contain List Items" id="kbbcode-olist-button"><span>olist</span></a></li><li><a href="#" title="List Item" alt="List Item: [li] list item [/li]" id="kbbcode-list-button"><span>list</span></a></li><li><a href="#" title="Align left" alt="Align left: [left]Text[/left]" id="kbbcode-left-button"><span>left</span></a></li><li><a href="#" title="Align center" alt="Align center: [center]Text[/center]" id="kbbcode-center-button"><span>center</span></a></li><li><a href="#" title="Align right" alt="Align right: [right]Text[/right]" id="kbbcode-right-button"><span>right</span></a></li><li><a href="#" class="kbbcode-separator"><span>#</span></a></li><li><a href="#" title="Quote" alt="Quote text: [quote]text[/quote]" id="kbbcode-quote-button"><span>quote</span></a></li><li><a href="#" title="Code" alt="Code display: [code]code[/code]" id="kbbcode-code-button"><span>code</span></a></li><li><a href="#" title="Table" alt="Create an embedded table: [table][tr][td]line1[/td][/tr][tr][td]lines[/td][/tr][/table]" id="kbbcode-table-button"><span>table</span></a></li><li><a href="#" title="Hide text from Guests" alt="Hidden text: [hide]any hidden text[/hide] - hide part of message from Guests" id="kbbcode-hide-button"><span>hide</span></a></li><li><a href="#" class="kbbcode-separator"><span>#</span></a></li><li><a href="#" title="Image link" alt="Image link: [img size=400]http://www.google.com/images/web_logo_left.gif[/img]" id="kbbcode-image-button"><span>image</span></a></li><li><a href="#" title="Link" alt="Link: [url=http://www.zzz.com/]This is a link[/url]" id="kbbcode-link-button"><span>link</span></a></li><li><a href="#" class="kbbcode-separator"><span>#</span></a></li><li><a href="#" title="Map" alt="Insert a Map into the message: [map]Address[/map]" id="kbbcode-map-button"><span>map</span></a></li><li><a href="#" class="kbbcode-separator"><span>#</span></a></li><li><a href="#" title="BBCode Help" alt="Get Help on how to use the bbcode editor" id="kbbcode-help-button"><span>help</span></a></li><li><a href="#" id="kbbcode-poll-button" class="kbbcode-poll-button" title="Poll" alt="Add or edit a poll to this message" style="display: none;"><span>Poll</span></a></li></ul>
                </td>
            </tr>
            <!-- Start extendable secondary toolbar -->
            <tr>
                <td class="kpostbuttons">
                    <div id="kbbcode-size-options" style="display: none;">
                        <span class="kmsgtext-xs"  title="[size=1]" onmouseover="javascript:document.id('helpbox').set('value', 'Fontsize: [size=1]text size[/size] - Tip: sizes range from 1 to 6')">&nbsp;Sample Text&nbsp;</span>
                        <span class="kmsgtext-s"   title="[size=2]" onmouseover="javascript:document.id('helpbox').set('value', 'Fontsize: [size=2]text size[/size] - Tip: sizes range from 1 to 6')">&nbsp;Sample Text&nbsp;</span>
                        <span class="kmsgtext-m"   title="[size=3]" onmouseover="javascript:document.id('helpbox').set('value', 'Fontsize: [size=3]text size[/size] - Tip: sizes range from 1 to 6')">&nbsp;Sample Text&nbsp;</span>
                        <span class="kmsgtext-l"   title="[size=4]" onmouseover="javascript:document.id('helpbox').set('value', 'Fontsize: [size=4]text size[/size] - Tip: sizes range from 1 to 6')">&nbsp;Sample Text&nbsp;</span>
                        <span class="kmsgtext-xl"  title="[size=5]" onmouseover="javascript:document.id('helpbox').set('value', 'Fontsize: [size=5]text size[/size] - Tip: sizes range from 1 to 6')">&nbsp;Sample Text&nbsp;</span>
                        <span class="kmsgtext-xxl" title="[size=6]" onmouseover="javascript:document.id('helpbox').set('value', 'Fontsize: [size=6]text size[/size] - Tip: sizes range from 1 to 6')">&nbsp;Sample Text&nbsp;</span>
                    </div>
                    <div id="kbbcode-color-options" style="display: none;">
                        <script type="text/javascript">kGenerateColorPalette('4%', '15px');</script>
                        <table id="kbbcode-colortable" class="kbbcode-colortable" cellspacing="1" cellpadding="0" border="0" style="width: 100%;">
                            <tbody>
                            <tr>
                                <td style="background-color:#000000; width: 4%; height: 15px;">&nbsp;</td>
                                <td style="background-color:#000044; width: 4%; height: 15px;">&nbsp;</td>
                                <td style="background-color:#000088; width: 4%; height: 15px;">&nbsp;</td>
                                <td style="background-color:#0000BB; width: 4%; height: 15px;">&nbsp;</td>
                                <td style="background-color:#0000FF; width: 4%; height: 15px;">&nbsp;</td>
                                <td style="background-color:#004400; width: 4%; height: 15px;">&nbsp;</td>
                                <td style="background-color:#004444; width: 4%; height: 15px;">&nbsp;</td>
                                <td style="background-color:#004488; width: 4%; height: 15px;">&nbsp;</td>
                                <td style="background-color:#0044BB; width: 4%; height: 15px;">&nbsp;</td>
                                <td style="background-color:#0044FF; width: 4%; height: 15px;">&nbsp;</td>
                                <td style="background-color:#008800; width: 4%; height: 15px;">&nbsp;</td>
                                <td style="background-color:#008844; width: 4%; height: 15px;">&nbsp;</td>
                                <td style="background-color:#008888; width: 4%; height: 15px;">&nbsp;</td>
                                <td style="background-color:#0088BB; width: 4%; height: 15px;">&nbsp;</td>
                                <td style="background-color:#0088FF; width: 4%; height: 15px;">&nbsp;</td>
                                <td style="background-color:#00BB00; width: 4%; height: 15px;">&nbsp;</td>
                                <td style="background-color:#00BB44; width: 4%; height: 15px;">&nbsp;</td>
                                <td style="background-color:#00BB88; width: 4%; height: 15px;">&nbsp;</td>
                                <td style="background-color:#00BBBB; width: 4%; height: 15px;">&nbsp;</td>
                                <td style="background-color:#00BBFF; width: 4%; height: 15px;">&nbsp;</td>
                                <td style="background-color:#00FF00; width: 4%; height: 15px;">&nbsp;</td>
                                <td style="background-color:#00FF44; width: 4%; height: 15px;">&nbsp;</td>
                                <td style="background-color:#00FF88; width: 4%; height: 15px;">&nbsp;</td>
                                <td style="background-color:#00FFBB; width: 4%; height: 15px;">&nbsp;</td>
                                <td style="background-color:#00FFFF; width: 4%; height: 15px;">&nbsp;</td>
                            </tr>
                            <tr>
                                <td style="background-color:#440000; width: 4%; height: 15px;">&nbsp;</td>
                                <td style="background-color:#440044; width: 4%; height: 15px;">&nbsp;</td>
                                <td style="background-color:#440088; width: 4%; height: 15px;">&nbsp;</td>
                                <td style="background-color:#4400BB; width: 4%; height: 15px;">&nbsp;</td>
                                <td style="background-color:#4400FF; width: 4%; height: 15px;">&nbsp;</td>
                                <td style="background-color:#444400; width: 4%; height: 15px;">&nbsp;</td>
                                <td style="background-color:#444444; width: 4%; height: 15px;">&nbsp;</td>
                                <td style="background-color:#444488; width: 4%; height: 15px;">&nbsp;</td>
                                <td style="background-color:#4444BB; width: 4%; height: 15px;">&nbsp;</td>
                                <td style="background-color:#4444FF; width: 4%; height: 15px;">&nbsp;</td>
                                <td style="background-color:#448800; width: 4%; height: 15px;">&nbsp;</td>
                                <td style="background-color:#448844; width: 4%; height: 15px;">&nbsp;</td>
                                <td style="background-color:#448888; width: 4%; height: 15px;">&nbsp;</td>
                                <td style="background-color:#4488BB; width: 4%; height: 15px;">&nbsp;</td>
                                <td style="background-color:#4488FF; width: 4%; height: 15px;">&nbsp;</td>
                                <td style="background-color:#44BB00; width: 4%; height: 15px;">&nbsp;</td>
                                <td style="background-color:#44BB44; width: 4%; height: 15px;">&nbsp;</td>
                                <td style="background-color:#44BB88; width: 4%; height: 15px;">&nbsp;</td>
                                <td style="background-color:#44BBBB; width: 4%; height: 15px;">&nbsp;</td>
                                <td style="background-color:#44BBFF; width: 4%; height: 15px;">&nbsp;</td>
                                <td style="background-color:#44FF00; width: 4%; height: 15px;">&nbsp;</td>
                                <td style="background-color:#44FF44; width: 4%; height: 15px;">&nbsp;</td>
                                <td style="background-color:#44FF88; width: 4%; height: 15px;">&nbsp;</td>
                                <td style="background-color:#44FFBB; width: 4%; height: 15px;">&nbsp;</td>
                                <td style="background-color:#44FFFF; width: 4%; height: 15px;">&nbsp;</td>
                            </tr>
                            <tr>
                                <td style="background-color:#880000; width: 4%; height: 15px;">&nbsp;</td>
                                <td style="background-color:#880044; width: 4%; height: 15px;">&nbsp;</td>
                                <td style="background-color:#880088; width: 4%; height: 15px;">&nbsp;</td>
                                <td style="background-color:#8800BB; width: 4%; height: 15px;">&nbsp;</td>
                                <td style="background-color:#8800FF; width: 4%; height: 15px;">&nbsp;</td>
                                <td style="background-color:#884400; width: 4%; height: 15px;">&nbsp;</td>
                                <td style="background-color:#884444; width: 4%; height: 15px;">&nbsp;</td>
                                <td style="background-color:#884488; width: 4%; height: 15px;">&nbsp;</td>
                                <td style="background-color:#8844BB; width: 4%; height: 15px;">&nbsp;</td>
                                <td style="background-color:#8844FF; width: 4%; height: 15px;">&nbsp;</td>
                                <td style="background-color:#888800; width: 4%; height: 15px;">&nbsp;</td>
                                <td style="background-color:#888844; width: 4%; height: 15px;">&nbsp;</td>
                                <td style="background-color:#888888; width: 4%; height: 15px;">&nbsp;</td>
                                <td style="background-color:#8888BB; width: 4%; height: 15px;">&nbsp;</td>
                                <td style="background-color:#8888FF; width: 4%; height: 15px;">&nbsp;</td>
                                <td style="background-color:#88BB00; width: 4%; height: 15px;">&nbsp;</td>
                                <td style="background-color:#88BB44; width: 4%; height: 15px;">&nbsp;</td>
                                <td style="background-color:#88BB88; width: 4%; height: 15px;">&nbsp;</td>
                                <td style="background-color:#88BBBB; width: 4%; height: 15px;">&nbsp;</td>
                                <td style="background-color:#88BBFF; width: 4%; height: 15px;">&nbsp;</td>
                                <td style="background-color:#88FF00; width: 4%; height: 15px;">&nbsp;</td>
                                <td style="background-color:#88FF44; width: 4%; height: 15px;">&nbsp;</td>
                                <td style="background-color:#88FF88; width: 4%; height: 15px;">&nbsp;</td>
                                <td style="background-color:#88FFBB; width: 4%; height: 15px;">&nbsp;</td>
                                <td style="background-color:#88FFFF; width: 4%; height: 15px;">&nbsp;</td>
                            </tr>
                            <tr>
                                <td style="background-color:#BB0000; width: 4%; height: 15px;">&nbsp;</td>
                                <td style="background-color:#BB0044; width: 4%; height: 15px;">&nbsp;</td>
                                <td style="background-color:#BB0088; width: 4%; height: 15px;">&nbsp;</td>
                                <td style="background-color:#BB00BB; width: 4%; height: 15px;">&nbsp;</td>
                                <td style="background-color:#BB00FF; width: 4%; height: 15px;">&nbsp;</td>
                                <td style="background-color:#BB4400; width: 4%; height: 15px;">&nbsp;</td>
                                <td style="background-color:#BB4444; width: 4%; height: 15px;">&nbsp;</td>
                                <td style="background-color:#BB4488; width: 4%; height: 15px;">&nbsp;</td>
                                <td style="background-color:#BB44BB; width: 4%; height: 15px;">&nbsp;</td>
                                <td style="background-color:#BB44FF; width: 4%; height: 15px;">&nbsp;</td>
                                <td style="background-color:#BB8800; width: 4%; height: 15px;">&nbsp;</td>
                                <td style="background-color:#BB8844; width: 4%; height: 15px;">&nbsp;</td>
                                <td style="background-color:#BB8888; width: 4%; height: 15px;">&nbsp;</td>
                                <td style="background-color:#BB88BB; width: 4%; height: 15px;">&nbsp;</td>
                                <td style="background-color:#BB88FF; width: 4%; height: 15px;">&nbsp;</td>
                                <td style="background-color:#BBBB00; width: 4%; height: 15px;">&nbsp;</td>
                                <td style="background-color:#BBBB44; width: 4%; height: 15px;">&nbsp;</td>
                                <td style="background-color:#BBBB88; width: 4%; height: 15px;">&nbsp;</td>
                                <td style="background-color:#BBBBBB; width: 4%; height: 15px;">&nbsp;</td>
                                <td style="background-color:#BBBBFF; width: 4%; height: 15px;">&nbsp;</td>
                                <td style="background-color:#BBFF00; width: 4%; height: 15px;">&nbsp;</td>
                                <td style="background-color:#BBFF44; width: 4%; height: 15px;">&nbsp;</td>
                                <td style="background-color:#BBFF88; width: 4%; height: 15px;">&nbsp;</td>
                                <td style="background-color:#BBFFBB; width: 4%; height: 15px;">&nbsp;</td>
                                <td style="background-color:#BBFFFF; width: 4%; height: 15px;">&nbsp;</td>
                            </tr>
                            <tr>
                                <td style="background-color:#FF0000; width: 4%; height: 15px;">&nbsp;</td>
                                <td style="background-color:#FF0044; width: 4%; height: 15px;">&nbsp;</td>
                                <td style="background-color:#FF0088; width: 4%; height: 15px;">&nbsp;</td>
                                <td style="background-color:#FF00BB; width: 4%; height: 15px;">&nbsp;</td>
                                <td style="background-color:#FF00FF; width: 4%; height: 15px;">&nbsp;</td>
                                <td style="background-color:#FF4400; width: 4%; height: 15px;">&nbsp;</td>
                                <td style="background-color:#FF4444; width: 4%; height: 15px;">&nbsp;</td>
                                <td style="background-color:#FF4488; width: 4%; height: 15px;">&nbsp;</td>
                                <td style="background-color:#FF44BB; width: 4%; height: 15px;">&nbsp;</td>
                                <td style="background-color:#FF44FF; width: 4%; height: 15px;">&nbsp;</td>
                                <td style="background-color:#FF8800; width: 4%; height: 15px;">&nbsp;</td>
                                <td style="background-color:#FF8844; width: 4%; height: 15px;">&nbsp;</td>
                                <td style="background-color:#FF8888; width: 4%; height: 15px;">&nbsp;</td>
                                <td style="background-color:#FF88BB; width: 4%; height: 15px;">&nbsp;</td>
                                <td style="background-color:#FF88FF; width: 4%; height: 15px;">&nbsp;</td>
                                <td style="background-color:#FFBB00; width: 4%; height: 15px;">&nbsp;</td>
                                <td style="background-color:#FFBB44; width: 4%; height: 15px;">&nbsp;</td>
                                <td style="background-color:#FFBB88; width: 4%; height: 15px;">&nbsp;</td>
                                <td style="background-color:#FFBBBB; width: 4%; height: 15px;">&nbsp;</td>
                                <td style="background-color:#FFBBFF; width: 4%; height: 15px;">&nbsp;</td>
                                <td style="background-color:#FFFF00; width: 4%; height: 15px;">&nbsp;</td>
                                <td style="background-color:#FFFF44; width: 4%; height: 15px;">&nbsp;</td>
                                <td style="background-color:#FFFF88; width: 4%; height: 15px;">&nbsp;</td>
                                <td style="background-color:#FFFFBB; width: 4%; height: 15px;">&nbsp;</td>
                                <td style="background-color:#FFFFFF; width: 4%; height: 15px;">&nbsp;</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <div id="kbbcode-link-options" style="display: none;">
                        URL&nbsp;
                        <input id="kbbcode-link_url" name="url" type="text" size="40" value="http://" onmouseover="javascript:document.id('helpbox').set('value', 'Link: URL of the link')">
                        Text&nbsp;
                        <input name="text2" id="kbbcode-link_text" type="text" size="30" maxlength="150" onmouseover="javascript:document.id('helpbox').set('value', 'Link: Text / Description of the link')">
                        <input type="button" name="insterLink" value="Insert" onclick="kbbcode.focus().replaceSelection('[url=' + document.id('kbbcode-link_url').get('value') + ']' + document.id('kbbcode-link_text').get('value') + '[/url]', false); kToggleOrSwap('kbbcode-link-options');" onmouseover="javascript:document.id('helpbox').set('value', 'Link: Apply link')">
                    </div>

                    <div id="kbbcode-image-options" style="display: none;">
                        Size&nbsp;
                        <input id="kbbcode-image_size" name="size" type="text" size="10" maxlength="10" onmouseover="javascript:document.id('helpbox').set('value', 'Image link: Size')">
                        URL&nbsp;
                        <input name="url2" id="kbbcode-image_url" type="text" size="40" value="http://" onmouseover="javascript:document.id('helpbox').set('value', 'Image link: URL of the image link')">&nbsp;
                        <input type="button" name="Link" value="Insert" onclick="kInsertImageLink()" onmouseover="javascript:document.id('helpbox').set('value', 'Image link: Apply link')">
                    </div>

                    {#<div id="kbbcode-poll-options" style="display: none;">#}
                        {#<label class="kpoll-title-lbl" for="kpoll-title">Poll title</label>#}
                        {#<input type="text" class="inputbox" name="poll_title" id="kpoll-title" maxlength="100" size="40" value="" onmouseover="javascript:document.id('helpbox').set('value', 'Poll: Set a title for the poll')">#}
    {##}
                        {#<img id="kbutton-poll-add" src="/components/com_kunena/template/blue_eagle/images/icons/poll_add_options.png" onmouseover="javascript:document.id('helpbox').set('value', 'Poll: Add an option')" alt="Add Poll Option">#}
                        {#<img id="kbutton-poll-rem" src="/components/com_kunena/template/blue_eagle/images/icons/poll_rem_options.png" onmouseover="javascript:document.id('helpbox').set('value', 'Poll: Remove an option')" alt="Remove Poll Option">#}
    {##}
                        {#<label class="kpoll-term-lbl" for="kpoll-time-to-live">Poll life span (optional)</label>#}
                        {#<input type="text" title="" name="poll_time_to_live" id="kpoll-time-to-live" value="0000-00-00" onmouseover="javascript:document.id('helpbox').set('value', 'Poll: Add a life time for the poll (optional)')"><img src="/media/system/images/calendar.png" alt="Calendar" class="calendar" id="kpoll-time-to-live_img">								<input type="hidden" name="nb_options_allowed" id="nb_options_allowed" value="4">#}
                        {#<input type="hidden" name="number_total_options" id="numbertotal" value="">#}
                    {#</div>#}

                    <!-- end of extendable secondary toolbar -->
                </td>
            </tr>
            <tr>
                <td class="kposthint"><input type="text" name="helpbox" id="helpbox" size="45" class="kinputbox" disabled="disabled" maxlength="100" value="bbCode Help - Tip: bbCode can be used on selected text!"></td>
                {#<td class="kposthint"><input type="text" name="helpbox" id="helpbox" class="kinputbox" disabled="disabled" value="bbCode Help - Tip: bbCode can be used on selected text!"></td>#}
            </tr>
            <tr id="kpost-message" class="krow1">
                <td class="kcol-last kcol-editor-field">
                    {#<textarea class="ktxtarea required invalid" name="message" id="kbbcode-message" rows="10" cols="50" tabindex="3" aria-required="true" required="required" aria-invalid="true">{{ value | bbcode_filter | raw }}</textarea>#}
                    <textarea {{ block('widget_attributes') }}>{{ value | raw }}</textarea>

                    <!-- Hidden preview placeholder -->
                    <div id="kbbcode-preview" style="display: none;"></div>
                </td>
            </tr>
<!--attachments-->
            <tr id="kpost-attachments" class="krow1">
                {#<td class="kcol-first">#}
                    {#<strong>Attachments</strong>#}
                {#</td>#}
                <td class="kcol-mid">
                    {#<div class="kattachment" style="" id="kattachment1">#}
                        {#<span class="kattachment-id-container">1. </span>#}

                        {#<input class="kfile-input-textbox" type="text" readonly="readonly">#}
                        {#<div class="kfile-hide hasTip" title="">#}
                            {#<input type="button" value="Add File" class="kfile-input-button kbutton">#}
                            {#<input class="kfile-input" name="kattachment1" type="file">#}
                        {#</div>#}
                        {#<a href="#" class="kattachment-remove kbutton" style="display: none">Remove File</a>#}
                        {#<a href="#" class="kattachment-insert kbutton" style="display: none">Insert</a>#}
                    {#</div>#}
                    <div id="kattachment-id" class="kattachment" style="display: none;">
                        <span class="kattachment-id-container"></span>

                        <input class="kfile-input-textbox" type="text" readonly="readonly">
                        <div class="kfile-hide hasTip" title="">
                            <input type="button" value="Add File" class="kfile-input-button kbutton">
                            <input id="kupload" class="kfile-input" name="kattachment" type="file">
                        </div>
                        <a href="#" class="kattachment-remove kbutton" style="display: none">Remove File</a>
                        <a href="#" class="kattachment-insert kbutton" style="display: none">Insert</a>
                    </div>                </td>
            </tr>
<!--attachments-->
            </tbody>
            </table>
        </div>

    {% else %}
        <textarea {{ block('widget_attributes') }}>{{ value | bbcode_filter | raw }}</textarea>
    {% endif %}
{% endblock %}
